@import 'application';
@import 'mastodon/variables';

// 謎の背景画像
$osaka-background: $ui-base-color url('../images/background-photo-light.png');

.ui {
	background: $osaka-background no-repeat;
}

.columns-area > .column {
	flex: auto;
}

body.no-reduce-motion {
	background: $osaka-background;
	background-attachment: fixed;
}

